<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="section-title">
                <a href="../categories">
                    <h2><svg xmlns="http://www.w3.org/2000/svg" style="width: 15px;" viewBox="0 0 512 512">
                            <path
                                d="M459.5 440.6c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4L288 214.3V256v41.7L459.5 440.6zM256 352V256 128 96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4l-192 160C4.2 237.5 0 246.5 0 256s4.2 18.5 11.5 24.6l192 160c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V352z" />
                        </svg>
                        <b> Categories</b>
                    </h2>
                </a>
                <br>
                <h2>Sports</h2>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2" ><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2"><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2"><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2" ><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2"><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2"><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2" ><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2"><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2"><img src="https://picsum.photos/200/150" alt=""></div>
                <div class="contents order-md-1 pl-0">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                        praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="section-title"style="margin-top:3.5rem">
                <h2>Popular Posts</h2>
            </div>
            <div class="trend-entry d-flex">
                <div class="number align-self-start">01</div>
                <div class="trend-contents">
                    <h2 style="font-size: 1em;"><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="trend-entry d-flex">
                <div class="number align-self-start">02</div>
                <div class="trend-contents">
                    <h2 style="font-size: 1em;"><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="trend-entry d-flex">
                <div class="number align-self-start">03</div>
                <div class="trend-contents">
                    <h2 style="font-size: 1em;"><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
            <div class="trend-entry d-flex pl-0">
                <div class="number align-self-start">04</div>
                <div class="trend-contents">
                    <h2 style="font-size: 1em;"><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>