<body class="border-bottom">
    <div class="container">
        <nav class="navbar navbar-expand-lg" style="padding: 0;">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" routerLink="">Home</a>
                    <a class="nav-link " href="/about">About</a>
                    <a class="nav-link " href="/categories">Categories</a>
                    <!--<a class="nav-link " href="/business">business</a>
                    <a class="nav-link " href="/entertainment">entertainment</a>
                    <a class="nav-link " href="/general">general</a>
                    <a class="nav-link " href="/health">health</a>
                    <a class="nav-link " href="/science">science</a>
                    <a class="nav-link " href="/sports">sports</a>
                    <a class="nav-link " href="/technology">technology</a>-->
                </div>
            </div>
        </nav>
    </div>
</body>