<div class="row main">
    <div class="col-md-2">
        <div class="flex-shrink-0 p-3 bg-white fixed-start">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-5 fw-semibold">Categories</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="item" href="/business">business</a>
                </li>
                <li>
                    <a class="item" href="/entertainment">entertainment</a>
                </li>
                <li>
                    <a class="item" href="/general">general</a>
                </li>
                <li>
                    <a class="item" href="/health">health</a>
                </li>
                <li>
                    <a class="item" href="/science">science</a>
                </li>
                <li>
                    <a class="item" href="/sports">sports</a>
                </li>
                <li>
                    <a class="item" href="/technology">technology</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail"><img src="https://picsum.photos/200/190"></div>
                        <div class="contents">
                            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
                                temporibus praesentium neque, voluptatum quam quibusdam.</p>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                                        class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>